
<style>
    a:hover {
      background-image:linear-gradient(yellow,white)
    }
    </style>
<div class="container-fluid" style="width: 100%;height: 100px; background-color: blueviolet;">
<img src="../assets/00e9d826-42d6-4b4e-9a4d-8ba28d93fc38_200x200.png" style="width: 10%; height: 100%;">
<a style="padding: 5%;font-size: large;color: rgb(15, 2, 2);letter-spacing: 1px; font-weight: 1000;" routerLink="vehicle"> Enter New User </a>

<a style="padding: 5%;font-size: large;color: rgb(15, 2, 2);letter-spacing: 1px; font-weight: 1000;" routerLink="getuser"> Get User Details </a>

<a style="padding: 5%;font-size: large;color: rgb(15, 2, 2);letter-spacing: 1px; font-weight: 1000;" routerLink="createuser"> Register New Vehicle</a>
<a style="padding: 5%;font-size: large;color: rgb(15, 2, 2);letter-spacing: 1px; font-weight: 1000;" routerLink="logs"> Get All Logs </a><br><br>

</div>
<br>

   <router-outlet></router-outlet>




